<div class="page"> 
    <mat-card>
      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <h2>Save api</h2>
          <mat-form-field class="full-width-input">
            <input matInput placeholder="ApiKeyString" formControlName="apiKeyString" required>
            <mat-error>
              Please provide a valid apiKeyString
            </mat-error>
          </mat-form-field>
             
          <br>
          <br>
          <button mat-raised-button color="primary">Create</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
 