<div class="page"> 
    <mat-card>
      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <h2>Job offer create</h2>
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Description" formControlName="description" required>
            <mat-error>
              Please provide a valid description
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Position" formControlName="position" required>
            <mat-error>
              Please provide a valid position 
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width-input">
            <input matInput placeholder="DescriptionActivity" formControlName="descriptionActivity" required>
            <mat-error>
              Please provide a valid Description Activity
            </mat-error>
          </mat-form-field>  
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Precondition" formControlName="precondition" required>
            <mat-error>
              Please provide a valid precondition
            </mat-error>
          </mat-form-field>           
          <br>
          <br>
          <button mat-raised-button color="primary">Create</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
 