<body>
    <div class="header">
      </div>
      
      <div class="topnav">
        <a href="/createBusiness">Crreate Business</a>

      </div>
    
    <mat-table mat-table [dataSource]="data">
        <ng-container matColumnDef="Business">
            <th mat-header-cell *matHeaderCellDef> Business </th>
            <td mat-cell *matCellDef="let job">{{job.business.name}}</td>
          </ng-container>
        <ng-container matColumnDef="Description">
           <th mat-header-cell *matHeaderCellDef> Description </th>
           <td mat-cell *matCellDef="let job">{{job.description}}</td>
         </ng-container>
         <ng-container matColumnDef="Position">
           <th mat-header-cell *matHeaderCellDef> Position </th>
           <td mat-cell *matCellDef="let job">{{job.position}} </td>
        </ng-container>
        <ng-container matColumnDef="DescriptionActivity">
          <th mat-header-cell *matHeaderCellDef> Description Activity </th>
          <td mat-cell *matCellDef="let job">{{job.descriptionActivity}} </td>
        </ng-container>
    <ng-container matColumnDef="Precondition">
      <th mat-header-cell *matHeaderCellDef> Precondition </th>
      <td mat-cell *matCellDef="let job">{{job.precondition}} </td>
    </ng-container>
    <ng-container matColumnDef="View">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let job">
          <a [routerLink]="['/reactions']"  [queryParams]="{id: job.id}" ></a>
        </td>
    </ng-container> 
       
         <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
         <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
   </mat-table>
    </body>